A.lchot {
	COLOR: #bd0a01
}
A.lchot:visited {
	COLOR: #bd0a01
}
A {
	COLOR: #1f376d
}
.fc30 {
	COLOR: #1f376d
}
#TextNav {
	COLOR: #1f376d
}
#TextNav A:hover {
	BACKGROUND: #509ad8
}
#TextNav A.lcnew:hover {
	BACKGROUND-COLOR: #509ad8
}
#Soso {
	BACKGROUND: url(9469636.jpg) no-repeat
}
#Wealth {
	COLOR: #fff
}
#Wealth A {
	COLOR: #fff
}
#def DIV {
	BACKGROUND: url(http://img1.qq.com/news/pics/9468/9468392.gif) no-repeat -14px top
}
#SosoArea INPUT.w {
	BACKGROUND-POSITION: -139px 0px; BACKGROUND-IMAGE: url(12908191.gif); COLOR: #ccc; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: transparent
}
#SosoArea INPUT.bot {
	BACKGROUND: url(12908191.gif) no-repeat 0px 0px; COLOR: #5c4215
}
#sosoFod {
	BACKGROUND: url(12908191.gif) no-repeat 64px -823px
}
#sosoFod H3 {
	COLOR: #fff
}
#sosoFod H3.s {
	BACKGROUND: url(12908191.gif) no-repeat -614px 0px; COLOR: #3b5995
}
#sosoFod H3 A {
	COLOR: #fff
}
#sosoFod H3.s A {
	COLOR: #3b5995
}
#sosoFod H3.s1 {
	BACKGROUND: url(12908191.gif) no-repeat -614px 0px; COLOR: #3b5995
}
#sosoFod H3.s2 {
	COLOR: #fff
}
#sosoFod .more A {
	COLOR: #000
}
.res_b {
	BACKGROUND: url(12908191.gif) no-repeat 0px -422px
}
.pro_b {
	BACKGROUND: url(12908191.gif) no-repeat 0px -426px
}
.cArea .ar {
	BACKGROUND: url(12908191.gif) no-repeat -630px -116px
}
.cArea .al {
	BACKGROUND: url(12908191.gif) no-repeat -641px -116px
}
#proArea {
	BACKGROUND: url(12908191.gif) no-repeat 0px -634px
}
#proArea SPAN {
	COLOR: #6a7faf
}
#proArea A {
	COLOR: #1f376d
}
#proArea A:hover {
	BACKGROUND: #509ad8; COLOR: #fff
}
#proArea A.m {
	COLOR: #696768
}
#proArea_banner {
	BACKGROUND: #f3f8fc
}
#toDay {
	BACKGROUND: url(12908191.gif) no-repeat -521px -343px
}
#toDay DIV.t {
	COLOR: #fff
}
#toDay DIV.t A {
	COLOR: #fff
}
#toDay H1 A {
	COLOR: #1f376d
}
#News {
	BACKGROUND: url(12908191.gif) no-repeat 0px -206px
}
#Sports {
	BACKGROUND: url(12908191.gif) no-repeat 0px -206px
}
#finance {
	BACKGROUND: url(12908191.gif) no-repeat 0px -206px
}
#tech {
	BACKGROUND: url(12908191.gif) no-repeat 0px -206px
}
#car {
	BACKGROUND: url(12908191.gif) no-repeat 0px -206px
}
#News H4 {
	BACKGROUND: url(12908191.gif) no-repeat 0px -269px; COLOR: #1f376d
}
#Sports H4 {
	BACKGROUND: url(12908191.gif) no-repeat 0px -269px; COLOR: #1f376d
}
#finance H4 {
	BACKGROUND: url(12908191.gif) no-repeat 0px -269px; COLOR: #1f376d
}
#tech H4 {
	BACKGROUND: url(12908191.gif) no-repeat 0px -269px; COLOR: #1f376d
}
#car H4 {
	BACKGROUND: url(12908191.gif) no-repeat 0px -269px; COLOR: #1f376d
}
#paipai H4 {
	BACKGROUND: url(12908191.gif) no-repeat 0px -269px; COLOR: #1f376d
}
#News H4.s {
	BACKGROUND: url(12908191.gif) no-repeat 0px -297px; COLOR: #1f376d
}
#Sports H4.s {
	BACKGROUND: url(12908191.gif) no-repeat 0px -297px; COLOR: #1f376d
}
#finance H4.s {
	BACKGROUND: url(12908191.gif) no-repeat 0px -297px; COLOR: #1f376d
}
#tech H4.s {
	BACKGROUND: url(12908191.gif) no-repeat 0px -297px; COLOR: #1f376d
}
#car H4.s {
	BACKGROUND: url(12908191.gif) no-repeat 0px -297px; COLOR: #1f376d
}
#paipai H4.s {
	BACKGROUND: url(12908191.gif) no-repeat 0px -297px; COLOR: #1f376d
}
#News H4 A {
	COLOR: #1f376d
}
#Sports H4 A {
	COLOR: #1f376d
}
#finance H4 A {
	COLOR: #1f376d
}
#tech H4 A {
	COLOR: #1f376d
}
#car H4 A {
	COLOR: #1f376d
}
#paipai H4 A {
	COLOR: #1f376d
}
#News SPAN H4 {
	BACKGROUND: url(12908191.gif) no-repeat -81px -269px
}
#News SPAN H4.s {
	BACKGROUND: url(12908191.gif) no-repeat -81px -297px
}
#News SPAN H4.s0 {
	BACKGROUND: url(12908191.gif) no-repeat -178px -269px
}
#News SPAN H4.s1 {
	BACKGROUND: url(12908191.gif) no-repeat -178px -297px
}
#tailor DIV.i {
	BACKGROUND: url(12908191.gif) no-repeat -221px -53px
}
#tailor DIV.io {
	BACKGROUND: url(12908191.gif) no-repeat -251px -53px
}
#NewsInfo {
	BORDER-RIGHT: #aacbee 1px solid; BORDER-LEFT: #aacbee 1px solid
}
#SportsInfo {
	BORDER-RIGHT: #aacbee 1px solid; BORDER-LEFT: #aacbee 1px solid
}
#financeInfo {
	BORDER-RIGHT: #aacbee 1px solid; BORDER-LEFT: #aacbee 1px solid
}
#techInfo {
	BORDER-RIGHT: #aacbee 1px solid; BORDER-LEFT: #aacbee 1px solid
}
#carInfo {
	BORDER-RIGHT: #aacbee 1px solid; BORDER-LEFT: #aacbee 1px solid
}
#NewsInfo H3 A {
	COLOR: #1f376d
}
#NewsInfo H3 A.visited {
	COLOR: #800080
}
#blog {
	BACKGROUND: url(12908191.gif) no-repeat 0px -328px
}
#ent {
	BACKGROUND: url(12908191.gif) no-repeat 0px -328px
}
#game {
	BACKGROUND: url(12908191.gif) no-repeat 0px -328px
}
#book {
	BACKGROUND: url(12908191.gif) no-repeat 0px -328px
}
#lady {
	BACKGROUND: url(12908191.gif) no-repeat 0px -328px
}
#blog H4 {
	BACKGROUND: url(12908191.gif) no-repeat -371px -297px; COLOR: #00007f
}
#ent H4 {
	BACKGROUND: url(12908191.gif) no-repeat -371px -297px; COLOR: #00007f
}
#game H4 {
	BACKGROUND: url(12908191.gif) no-repeat -371px -297px; COLOR: #00007f
}
#comic H4 {
	BACKGROUND: url(12908191.gif) no-repeat -371px -297px; COLOR: #00007f
}
#book H4 {
	BACKGROUND: url(12908191.gif) no-repeat -371px -297px; COLOR: #00007f
}
#lady H4 {
	BACKGROUND: url(12908191.gif) no-repeat -371px -297px; COLOR: #00007f
}
#blog H4.s {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(12908191.gif) no-repeat -289px -297px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #00007f; BORDER-RIGHT-WIDTH: 0px
}
#ent H4.s {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(12908191.gif) no-repeat -289px -297px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #00007f; BORDER-RIGHT-WIDTH: 0px
}
#game H4.s {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(12908191.gif) no-repeat -289px -297px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #00007f; BORDER-RIGHT-WIDTH: 0px
}
#book H4.s {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(12908191.gif) no-repeat -289px -297px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #00007f; BORDER-RIGHT-WIDTH: 0px
}
#lady H4.s {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(12908191.gif) no-repeat -289px -297px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #00007f; BORDER-RIGHT-WIDTH: 0px
}
#edu {
	BACKGROUND: url(12908191.gif) no-repeat 0px -237px
}
#edu H4 {
	BACKGROUND: url(12908191.gif) no-repeat 0px -390px
}
#edu H4.s {
	FONT-WEIGHT: 700; BACKGROUND: url(12908191.gif) no-repeat -81px -390px; COLOR: #1f376d
}
#comic H4.s {
	FONT-WEIGHT: 700; BACKGROUND: url(12908191.gif) no-repeat -81px -390px; COLOR: #1f376d
}
#comic {
	BACKGROUND: url(12908191.gif) no-repeat 0px -359px
}
#comic H4 {
	BACKGROUND: url(12908191.gif) no-repeat -240px -390px
}
#comic H4.s {
	BACKGROUND: url(12908191.gif) no-repeat -159px -390px
}
.comic_b {
	BACKGROUND: url(12908191.gif) no-repeat 0px -434px
}
.edu_b {
	BACKGROUND: url(12908191.gif) no-repeat 0px -430px
}
#blogInfo {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid
}
#entInfo {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid
}
#gameInfo {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid
}
#bookInfo {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid
}
#ladyInfo {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid
}
#financeInfo FORM {
	BACKGROUND: #fceec1
}
#financeInfo FORM INPUT.w {
	BORDER-RIGHT: #c3bbb0 1px solid; BORDER-TOP: #c3bbb0 1px solid; BORDER-LEFT: #c3bbb0 1px solid; BORDER-BOTTOM: #c3bbb0 1px solid
}
#financeInfo FORM INPUT.i {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(12908191.gif) repeat-x -877px 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#financeInfo FORM .up {
	COLOR: #bd0a01
}
#financeInfo FORM .down {
	COLOR: #0af837
}
#ladyInfo FORM {
	BACKGROUND: #ebf4fb
}
#ladyInfo FORM INPUT.i {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(12908191.gif) no-repeat -317px -54px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #000; BORDER-RIGHT-WIDTH: 0px
}
#entInfo .textArea DIV.tit_list {
	BACKGROUND: url(12908191.gif) no-repeat -382px -116px
}
#eduInfo {
	BORDER-RIGHT: #8ec7a4 1px solid; BORDER-LEFT: #8ec7a4 1px solid
}
#comicInfo {
	BORDER-RIGHT: #8ec7a4 1px solid; BORDER-LEFT: #8ec7a4 1px solid
}
#comicHot {
	BORDER-TOP: #c4e6d6 1px solid; BACKGROUND: #effcf5
}
#comicHot .tit {
	BACKGROUND: url(12908191.gif) no-repeat 4px -548px; COLOR: #385597
}
#comicHot SPAN {
	FONT-WEIGHT: 700
}
#comicHot .tit A {
	COLOR: #209761
}
#comicHot .fl {
	COLOR: #3a5598
}
#comicHot .fr {
	COLOR: #3a5598
}
#comicHot .fl A {
	COLOR: #1f376d
}
#comicHot .fr A {
	COLOR: #1f376d
}
.adArea H5 {
	COLOR: #5f5f5f
}
.adArea H5 A {
	COLOR: #5f5f5f
}
#adAreaAInfo {
	BORDER-RIGHT: #d4d4d4 1px solid; BACKGROUND: #f6f9fe; BORDER-LEFT: #d4d4d4 1px solid
}
#adAreaBInfo {
	BORDER-RIGHT: #d4d4d4 1px solid; BACKGROUND: #f6f9fe; BORDER-LEFT: #d4d4d4 1px solid
}
#adAreaC {
	BORDER-RIGHT: #d4d4d4 1px solid; BACKGROUND: #f6f9fe; BORDER-LEFT: #d4d4d4 1px solid
}
#adAreaD {
	BORDER-RIGHT: #d4d4d4 1px solid; BACKGROUND: #f6f9fe; BORDER-LEFT: #d4d4d4 1px solid
}
#adAreaE {
	BORDER-RIGHT: #d4d4d4 1px solid; BACKGROUND: #f6f9fe; BORDER-LEFT: #d4d4d4 1px solid
}
#adAreaBInfo {
	BACKGROUND: #fff
}
#adAreaAInfo A {
	COLOR: #5f5f5f
}
#adAreaBInfo A {
	COLOR: #5f5f5f
}
#adAreaC A {
	COLOR: #5f5f5f
}
#adAreaD A {
	COLOR: #5f5f5f
}
#adAreaE A {
	COLOR: #5f5f5f
}
#adAreaAInfo A.lchot {
	COLOR: #bd0a01
}
#adAreaBInfo A.lchot {
	COLOR: #bd0a01
}
#adAreaC A.lchot {
	COLOR: #bd0a01
}
#adAreaD A.lchot {
	COLOR: #bd0a01
}
#adAreaE A.lchot {
	COLOR: #bd0a01
}
#adAreaAInfo A.lcbhot {
	FONT-WEIGHT: bold; COLOR: #bd0a01
}
#adAreaBInfo A.lcbhot {
	FONT-WEIGHT: bold; COLOR: #bd0a01
}
#adAreaC A.lcbhot {
	FONT-WEIGHT: bold; COLOR: #bd0a01
}
#adAreaD A.lcbhot {
	FONT-WEIGHT: bold; COLOR: #bd0a01
}
#adAreaE A.lcbhot {
	FONT-WEIGHT: bold; COLOR: #bd0a01
}
#adAreaA {
	BACKGROUND: url(12908191.gif) no-repeat 0px -447px
}
#netGame {
	BACKGROUND: url(12908191.gif) no-repeat 0px -447px
}
#adAreaA H3 {
	BACKGROUND: url(12908191.gif) no-repeat -198px -447px; COLOR: #5f5f5f
}
#adAreaB H3 {
	BACKGROUND: url(12908191.gif) no-repeat -198px -447px; COLOR: #5f5f5f
}
#adAreaA H3.s {
	BACKGROUND: url(12908191.gif) no-repeat -266px -447px
}
.adAreaA_b {
	BACKGROUND: url(12908191.gif) no-repeat 0px -442px
}
.adAreaA_t {
	BACKGROUND: url(12908191.gif) no-repeat 0px -438px
}
#adAreaB {
	BACKGROUND: url(12908191.gif) no-repeat -321px -390px
}
#adAreaB H3 {
	BACKGROUND: url(12908191.gif) no-repeat -454px -447px
}
#adAreaB H3.s {
	BACKGROUND: url(12908191.gif) no-repeat -409px -447px
}
#adAreaBInfo {
	BACKGROUND: url(12908191.gif) no-repeat -752px -58px; COLOR: #5f5f5f
}
.adAreaB_b {
	BACKGROUND: url(12908191.gif) no-repeat 0px -477px
}
#netGame H4 {
	BACKGROUND: url(12908191.gif) no-repeat -97px -146px; COLOR: #5f5f5f
}
#netGame H4.s {
	BACKGROUND: url(12908191.gif) no-repeat 0px -146px; COLOR: #5f5f5f
}
#netGameInfo {
	BORDER-RIGHT: #d4d4d4 1px solid; BACKGROUND: #f6f9fe; BORDER-LEFT: #d4d4d4 1px solid; COLOR: #5f5f5f
}
#netGameInfo FORM P {
	BACKGROUND: #fff; BORDER-BOTTOM: #d4d4d4 1px solid
}
#netGameInfo FORM A {
	COLOR: #5f5f5f
}
#netGameInfo FORM A.lchot {
	FONT-WEIGHT: bold
}
#netGameInfo DIV.bot {
	BACKGROUND: #f6f9fe
}
#netGameInfo DIV.bot INPUT {
	BACKGROUND: url(12908191.gif) no-repeat -790px 0px; COLOR: #5f5f5f
}
#netGameInfo DIV.bot A.input {
	BACKGROUND: url(12908191.gif) no-repeat -790px 0px; COLOR: #5f5f5f
}
#netGameInfo .tc A.input {
	BACKGROUND: url(12908191.gif) no-repeat 0px -180px; COLOR: #5f5f5f
}
#netGameInfo .tc INPUT {
	BACKGROUND: url(12908191.gif) no-repeat 0px -180px; COLOR: #5f5f5f
}
#paipaiBot P {
	COLOR: #838383
}
#paipaiBot P A {
	BACKGROUND: url(12908191.gif) no-repeat -381px -30px; COLOR: #5f5f5f
}
#paipaiInfo {
	
}
#paipaiInfo .fl {
	COLOR: #5f5f5f
}
#paipaiInfo .fchot {
	COLOR: #bd0a01
}
#paipaiInfo DIV.tit {
	COLOR: #5f5f5f
}
#paipaiInfo {
	COLOR: #5f5f5f
}
#paipaiInfo A {
	COLOR: #5f5f5f
}
.paipai_at {
	BACKGROUND: url(12908191.gif) no-repeat 0px -473px
}
.paipai_ad {
	BACKGROUND: url(12908191.gif) no-repeat 0px -477px
}
#paipai_al {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#paipai_ar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#paipai_al IMG {
	BACKGROUND: url(12908191.gif) no-repeat -129px -180px
}
#paipai_al IMG.s {
	BACKGROUND: url(12908191.gif) no-repeat -146px -180px
}
#paipai_ar IMG {
	BACKGROUND: url(12908191.gif) no-repeat -163px -180px
}
#paipai_ar IMG.s {
	BACKGROUND: url(12908191.gif) no-repeat -181px -180px
}
#proArea_search {
	BACKGROUND: url(http://mat1.qq.com/www/images/allskin/xunren/xunrenbg1.gif)
}
